.App {
  display: flex;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.App-sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: fit-content;
  height: 100vh;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.App-sidebar-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
}

.App-page-view {
  padding-left: 50px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
